@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Weather</h2>
        @Html.Partial("Weather")
    </div>
    <div class="col-md-4">
        <h2>Counter</h2>
        @Html.Partial("Counter")
    </div>
    <div class="col-md-4">
        <h2>Status</h2>
        The widgets on this screen update every 15 seconds. Terminate individual microservices to enable circuit breaker.
        <h3>Weather Script Activity</h3>
        <div id="weatherNotifications"></div>
        <h3>Counter Script Activity</h3>
        <div id="counterNotifications"></div>
    </div>
</div>

<script>
    
</script>
